name: simple-music-uploader

services:
    app:
        build:
            context: .
            args:
                - USER_ID=${USER_ID:-1000}
                - GROUP_ID=${GROUP_ID:-1000}
        user: "${USER_ID:-1000}:${GROUP_ID:-1000}"
        restart: always
        volumes:
            - ./music:/data/music
        ports:
            - "5062:8000"
